// Import all of Bootstrap's CSS
//@import "../node_modules/bootstrap/scss/bootstrap";

// Crear mis colores
// Mis Colores
@import 'node_modules/bulma/sass/utilities/initial-variables';
@import 'node_modules/bulma/sass/utilities/functions';

// Colores principales
// https://bulma.io/documentation/customize/variables/
// https://bulma.io/documentation/customize/with-node-sass/
// https://github.com/jgthms/bulma/issues/2244

$primary: #2c3e50;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

// Otros colores personalizados que noe existen por defecto!!!
$secondary: #1d6042; // Propio
$secondary-invert: findColorInvert($secondary);

// Actualizmos el mapa de colores
@import 'node_modules/bulma/sass/utilities/derived-variables';
$addColors: (
  'secondary': (
    $secondary,
    $secondary-invert,
  ),
);
$colors: map-merge($colors, $addColors);

// Resto de bulma
@import 'node_modules/bulma/bulma';
